.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    width: 98%;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.topinputs,
.bottominputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tertiary);
    height: 32rem;
    width: 32rem;
    padding: 2rem;
    margin: 1.2rem;
    transition: border-radius ease-in-out 0.5s;
    cursor: default;
}

.box p {
    font: 400 1.4rem Archivo;
    cursor: pointer;
}

#topleft {
}

#topright {
}

#bottomleft {
}

#bottomright {
}

input {
    width: 4rem;
    height: 2.6rem;
    color: var(--color-secondary);
}

input:focus {
    color: var(--color-secondary-dark);
}
